<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://meet.jit.si/libs/lib-jitsi-meet.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='transcriber.js') }}" type="module" ></script>
    <script src="{{ url_for('static', filename='recorder.js') }}" type="module" ></script>
    <title>{{ title }}</title>
</head>
<body>
{% block main %}
{% endblock %}
</body>
</html> 