
{% extends 'base.html' %}

{% block main %}
<script type="module">
    import Transcriber from "{{ url_for('static', filename='transcriber.js') }}";
    // JitsiMeetJS.setLogLevel(JitsiMeetJS.logLevels.ERROR);
    // TODO move to a separate file
    const initOptions = {
        disableAudioLevels: true
    }; 
    let transcriber = new Transcriber();


    transcriber.initJitsi(initOptions);

    $(window).bind('beforeunload', transcriber.unload.bind(transcriber));
    $(window).bind('unload', transcriber.unload.bind(transcriber));
    // add transcriber to global scope
    window.transcriber = transcriber;
</script>
<div class="jitsi">
    <a href="#" onclick="transcriber.unload()">Disconnect</a>
    <div id="audioOutputSelectWrapper">
        <input id="roomSelect" ></input>
        <input type="button" value="Select room" onclick="transcriber.onRoomSelect()" />
    </div>
</div>
<h1>Minuteman</h1>
<div class="editors">
    <div class="transcript-window">
        <iframe class="transcript-iframe" src="http://localhost:9001/p/{{ session_id }}.trsc"></iframe>
    </div>
    <div class="summary-window">
        <iframe class="summary-iframe" src="http://localhost:9001/p/{{ session_id }}.summ"></iframe>
    </div>
</div>

{% endblock %}