
{% extends 'base.html' %}

{% block main %}
<script type="module">
    import Transcriber from "{{ url_for('static', filename='transcriber.js') }}";
    // JitsiMeetJS.setLogLevel(JitsiMeetJS.logLevels.ERROR);
    // TODO move to a separate file
    const initOptions = {
        disableAudioLevels: true
    }; 
    let transcriber = new Transcriber();


    transcriber.initJitsi(initOptions);

    $(window).bind('beforeunload', transcriber.unload.bind(transcriber));
    $(window).bind('unload', transcriber.unload.bind(transcriber));
    // add transcriber to global scope
    window.transcriber = transcriber;
</script>
<div>
    <div class="jitsi">
        <a href="#" onclick="transcriber.unload()">Disconnect</a>
        <div id="audioOutputSelectWrapper">
            <input id="roomSelect" ></input>
            <input type="button" value="Select room" onclick="transcriber.onRoomSelect()" />
        </div>
    </div>
    <h1>Minuteman</h1>
    <div class="transcript-input">
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <p>
            {{ form.transcript.label }}
            </p>
            <p>
            {{ form.transcript()}}
            </p>
            {% if form.transcript.errors %}
                <ul class="errors">
                    {% for error in form.transcript.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>
                <input type="submit" value="Get me some minutes!">
            </p>  
        </form>
    </div>
    <div class="minutes">
        {% for split, minute in output %}
            split:
            <p class="split">{{ split }}</p>
            minute:
            <p class="minute">{{ minute }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}