
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://meet.jit.si/libs/lib-jitsi-meet.min.js"></script>
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/main.css') }}">
    <title>{{ title }}</title>
    </head>
    <body class="application">
        <div class="control-bar">
            <ul class="control-bar-contents">
                <li class="control-bar-item">
                    Minuteman
                </li>
                <span class="config-options">
                    <li class="control-bar-item chunk-len-select">
                        <span>Summarization chunk length (words):</span>
                        <input id="chunkLenSelect" type="number" min="1" max="1000" value="200"/>
                        <input type="button" value="Set" onclick="onChunkLenSelect()"/>
                    </li>
                    <li class="control-bar-item summ-model-select">
                        <span>Model:</span>
                        <select name="modelSelect" id="modelSelect" type="select"/>
                        </select>
                </span>
                <li class="control-bar-item jitsi-select">
                    <span>meet.jit.si room name:</span>
                    <input id="roomSelect" ></input>
                    <input type="button" value="Select room" onclick="recorder.onRoomSelect()" />
                    <input type="button" value="Disconnect" onclick="recorder.unload()"/>
                </li>
            </ul>
        </div>
        <div class="editors">
            <div class="transcript-window editor">
                <iframe class="editor-iframe transcript-iframe" src="{{ etherpad_url }}/p/{{ session_id }}.trsc"></iframe>
            </div>
            <div class="summary-window editor">
                <iframe class="editor-iframe summary-iframe" src="{{ etherpad_url }}/p/{{ session_id }}.summ"></iframe>
            </div>
        </div>
    </body>
</html>

